################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Client.Api/obj
/Client.Application/obj
/Client.Domain/obj
